button.spid-button {
  background: #06c;
  color: #fff;
  border: solid #06c 0.1rem;
  padding: 0em 0.75rem 0em 0.25em;
  line-height: 2.5em;
  font-size: 1.5rem;
}

button:hover.spid-button {
  background: #0053a5;
  color: #fff;
  border-color: #004d99;
}

button.spid-button .spid-button-logo {
  display: inline-block;
  padding-right: 0.25em;
  border-right: rgba(255, 255, 255, 0.1) 0.1em solid;
  width: 2.5em;
}

button.spid-button .spid-button-logo img {
  margin: 0.25em 0em;
  vertical-align: top;
}

button.spid-button.spid-button-s {
  font-size: 1rem;
}

button.spid-button.spid-button-l {
  font-size: 2rem;
}

button.spid-button.spid-button-xl {
  font-size: 2.5rem;
}

button.spid-button.spid-button-xxl {
  font-size: 3rem;
}

button.spid-button, .spid-button-list {
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

ul.dropdown-menu.spid-button-list li a {
  border-bottom: 1px solid #ddd;
  padding: 1rem
}

ul.dropdown-menu.spid-button-list li:last-child a {
  border-bottom: none;
}

ul.dropdown-menu.spid-button-list li a:hover {
  color: #036;
  cursor: pointer;
  background-color: #F0F0F0;
}

ul.dropdown-menu.spid-button-list li a img {
  height: 2.5rem;
}