
.spid-button {}

.spid-button {
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.spid-button .spid-button-logo {
  display: inline-block;
  margin: -12px 18px -12px -22px;
  border-right: rgba(255, 255, 255, 0.1) 0.1em solid;
  padding: 6px;
  width: 2.7rem;
}

.spid-button ul.dropdown-menu li a {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.spid-button ul.dropdown-menu li a:hover {
  color: #036;
  cursor: pointer;
  background-color: #F0F0F0;
}

.spid-button ul.dropdown-menu li a img {
  height: 1.5rem;
}

.spid-button-s button.spid-button {
  font-size: 0.80rem;
  line-height: 1rem
}

.spid-button-s .spid-button-logo {
    width: 2.2rem;
}

.spid-button-l button.spid-button {
  font-size: 1.25rem;
  border-radius: .3rem;
  line-height: 2.25rem
}

.spid-button-l .spid-button-logo {
    width: 3.5rem;
}

.spid-button-xl button.spid-button {
  font-size: 2rem;
  border-radius: .3rem;
  line-height: 3rem
}

.spid-button-xl .spid-button-logo {
    width: 4.5rem;
}

